@font-face {
    font-family: "OpenSans";
    src: url("/fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: "Lato_regular";
    src: url("/fonts/Lato-Regular.ttf");
}

@font-face {
    font-family: "Gotham_black";
    src: url("/fonts/Gotham\ Black\ Regular.ttf");
}

h2, h3, h4, h5, button {
    font-family: "Gotham_black";
}

p {
    font-family: "Lato_regular";
}
.container {
    max-width: 1170px;
}

.navbar {
    height: 93px;
}

.navbar-text {
    color: black;
    line-height: 1.2;
    font-family: "Lato_regular";
}

.hero {
    background-color: #709dca;
    color: white;
    margin: 110px auto;
}

.hero > div > h2 {
    margin-top: 110px;
}

.hero > div > p {
    /*font-family: "Lato_regular";*/
    margin-bottom: 30px;
}

.heroform{
  margin-bottom: 60px;
  padding: 0 40px;
}

.carousel-inner > .item > img {
    margin: 50px auto;
  }

.services {
    color: black;
    font-family: "OpenSans";
    margin-bottom: 80px;
}

.service-item i {
    font-size: 3em;
    float: left;
    padding-top: 0.5em;
}
.fa-clock {
    color: red;
}

.service-item {
    margin-bottom: 3em;
}

.service-item h4 {
    padding-left: 4em;
    font-family: "OpenSans";
}

.service-item p {
    padding-left: 5em;
}

.fa-cog, .fa-graduation-cap, .fa-rocket, .fa-file-code, .fa-dollar-sign {
    color: blue;
}

.aboutUs {
    color: white;
    background-color: orange;
}

.aboutUs-text {
    padding: 10% 5em;
}

.price {
    background-color: lightblue;
    padding-top: 130px;
    margin-bottom: 195px;
    padding-bottom: 195px;
}

.price-panel {
    margin-top: 50px;
}

.price-current {
    font-family: "Lato_regular";
}
.price-current strong{
  font-size: 60px;
  color: rgb(255, 187, 66);
  font-weight: bold;
}

.price-current .fas {
    color: rgb(255, 187, 66);
    font-size: 0.5em;
    vertical-align: super;
}

.price-current hr {
    width: 80%;
    border: 1px solid gray;
}

.price-current p {
    font-family: "Lato_regular";
    font-size: 1em;
    line-height: 1;
}
.premium {
    background-color: blue;
    color: white;
    transform: scaleY(1.1);
}

.hiw {
    margin-top: 154px;
    margin-bottom: 150px;
}

.flow {
    margin-top: 75px;
    margin-bottom: 3em;
    font-size: 5em;
    color: blue;
}

.flowstep {
    margin-bottom: 90px;
}

.clients {
    background-color: orange;
    margin-top: 140px;
    margin-bottom: 155px;
    padding-top: 140px;
    padding-bottom: 155px;
}

.clients-head {
color: white;
margin-bottom: 60px;
}

.card {
    padding: 1em;
    background-color: white;
    margin-bottom: 2em;
    margin-top: 2em;
}
.card img {
    float: left;
    margin-left: 1.5em;
    margin-right: 1.5em;
}

.card p {
    padding-left: 3em;
}

.card span {
    color: orange;
}

.subscription-head {
    margin-bottom: 3em;
}

.map-dot {
    background-image: url("/img/map-dot.png");
    height: 40em;
}

.map-circle {
    margin-top: 5em;
    background-image: url("/img/map-circle.png");
    background-repeat: no-repeat;
    background-position: center ;
    background-size: auto;
    height: 25em;
    font-family: "OpenSans";
    color: rgb(123, 123, 123);
}

.map-circle h4 {
    padding-top: 4em;
    color: white;
}

.map-circle p:last-of-type {
    color: orange;
}

.social-phone {
    color: rgb(57, 75, 80);
    font-family: "Lato_regular";
    font-size: 3em;
}

.social-icons {
    color: blue;
    font-size: 2em;
}

.social-icons .fa-twitter {
    color: orange;
}

.social-icons i {
    margin: 1em 1em;
}

.copyright {
    color: white;
    font-family: "OpenSans";
    height: 3em;
    font-size: 1em;
    line-height: 3em;
    background-color: blue;
}
